---
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialButton from "../components/SocialButton.astro";
import Webrings from "../components/Webrings.astro";
import WebButtons from "../components/WebButtons.astro";

import socials from "../data/socials.json";
---

<BaseLayout title="NootSponge">
  <main
    class="top-0 absolute w-full font-mono text-white text-center bg-circle-gradient from-slate-900 to-black"
  >
    <div class="lg:w-1/2 w-4/5 flex flex-col gap-8 pt-24 m-auto">
      <img
        class="rounded-full w-40 h-40 object-cover m-auto"
        src="/img/ren profile.jpg"
      />
      <h1 class="text-3xl md:text-6xl font-bold m-0">NootSponge</h1>
      <p class="mb-4">Your king~</p>
      <div class="flex flex-col sm:flex-row justify-evenly gap-8">
        <div class="flex flex-col justify-center w-full sm:w-2/5 gap-4">
          {
            socials.map((r) => {
              if (r.type === "text") return <p class="pt-6">{r.text}</p>;

              return (
                <SocialButton
                  link={r.link}
                  color={r.color}
                  icon={r.icon}
                  text={r.text}
                />
              );
            })
          }
        </div>
        <div class="w-full sm:w-2/5 flex flex-col gap-12">
          <section class="pt-6 flex flex-col gap-3">
            <h1>~ About ~</h1>
            <p>22 year old compsci furry.</p>
            <a
              class="underline hover:text-gold"
              href="https://en.pronouns.page/@nootsponge">he/him.</a
            >
            <p>very hungry.</p>
            <p>dms open to non-scammers and those whom are above 18 :3</p>
          </section>
          <Webrings />
          <WebButtons />
        </div>
      </div>
      <footer class="mt-12 mb-20 text-xs">
        <a href="/legal" class="underline hover:text-gold">Copyright stuff.</a>
        <a
          href="https://github.com/nootsponge/nootsponge.com"
          class="underline hover:text-gold"
          title="Yes I use GitHub it has superior CI/CD">Source.</a
        >
      </footer>
    </div>
  </main>
</BaseLayout>
