---
import FeatureList from "./FeatureList.astro";
---

<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"
></script>

<script>
  import axios from "axios";

  let tier: string = "basic";

  const packageSelect: HTMLElement = document.getElementById("package")!;
  const basicFeatures: HTMLElement = document.getElementById("basic-features")!;
  const standardFeatures: HTMLElement =
    document.getElementById("standard-features")!;
  const premiumFeatures: HTMLElement =
    document.getElementById("premium-features")!;

  const basicExtras: HTMLElement = document.getElementById("basic-extras")!;
  const standardExtras: HTMLElement =
    document.getElementById("standard-extras")!;
  const premiumExtras: HTMLElement = document.getElementById("premium-extras")!;

  packageSelect.addEventListener("change", (e) => {
    const selectedPackage = (e.target as HTMLSelectElement).value;

    tier = selectedPackage;

    if (selectedPackage === "basic") {
      basicFeatures.classList.remove("hidden");
      standardFeatures.classList.add("hidden");
      premiumFeatures.classList.add("hidden");

      basicExtras.classList.remove("hidden");
      standardExtras.classList.add("hidden");
      premiumExtras.classList.add("hidden");
    } else if (selectedPackage === "standard") {
      basicFeatures.classList.add("hidden");
      standardFeatures.classList.remove("hidden");
      premiumFeatures.classList.add("hidden");

      basicExtras.classList.add("hidden");
      standardExtras.classList.remove("hidden");
      premiumExtras.classList.add("hidden");
    } else if (selectedPackage === "premium") {
      basicFeatures.classList.add("hidden");
      standardFeatures.classList.add("hidden");
      premiumFeatures.classList.remove("hidden");

      basicExtras.classList.add("hidden");
      standardExtras.classList.add("hidden");
      premiumExtras.classList.remove("hidden");
    }

    calcSubtotal();
  });

  const basicExtra1: HTMLInputElement = document.getElementById(
    "basic-extra-1"
  )! as HTMLInputElement;
  const basicExtra2: HTMLInputElement = document.getElementById(
    "basic-extra-2"
  )! as HTMLInputElement;

  basicExtra1.addEventListener("change", (e) => {
    calcSubtotal();
  });

  basicExtra2.addEventListener("change", (e) => {
    calcSubtotal();
  });

  const standardExtra1: HTMLInputElement = document.getElementById(
    "standard-extra-1"
  )! as HTMLInputElement;
  const standardExtra2: HTMLInputElement = document.getElementById(
    "standard-extra-2"
  )! as HTMLInputElement;
  const standardExtra3: HTMLInputElement = document.getElementById(
    "standard-extra-3"
  )! as HTMLInputElement;

  standardExtra1.addEventListener("change", (e) => {
    calcSubtotal();
  });

  standardExtra2.addEventListener("change", (e) => {
    calcSubtotal();
  });

  standardExtra3.addEventListener("change", (e) => {
    calcSubtotal();
  });

  const premiumExtra1: HTMLInputElement = document.getElementById(
    "premium-extra-1"
  )! as HTMLInputElement;
  const premiumExtra2: HTMLInputElement = document.getElementById(
    "premium-extra-2"
  )! as HTMLInputElement;
  const premiumExtra3: HTMLInputElement = document.getElementById(
    "premium-extra-3"
  )! as HTMLInputElement;

  premiumExtra1.addEventListener("change", (e) => {
    calcSubtotal();
  });

  premiumExtra2.addEventListener("change", (e) => {
    calcSubtotal();
  });

  premiumExtra3.addEventListener("change", (e) => {
    calcSubtotal();
  });

  const quoteFormContainer: HTMLElement = document.getElementById(
    "quote-form-container"
  )!;

  let currentPage: number = 1;

  const nextButton: HTMLButtonElement = document.getElementById(
    "next-button"
  )! as HTMLButtonElement;
  const prevButton: HTMLButtonElement = document.getElementById(
    "prev-button"
  )! as HTMLButtonElement;
  const submitButton: HTMLButtonElement = document.getElementById(
    "submit-button"
  )! as HTMLButtonElement;

  const form: HTMLFormElement = document.getElementById(
    "quote-form"
  )! as HTMLFormElement;

  nextButton.addEventListener("click", () => {
    if (currentPage === 1) {
      switchPage(2, 1);
      currentPage = 2;

      prevButton.classList.remove("bg-slate-500");
      prevButton.classList.add("bg-[#e7da48]");
      prevButton.disabled = false;
    } else if (currentPage === 2) {
      const domainName: HTMLInputElement = document.getElementById(
        "domain-name"
      )! as HTMLInputElement;
      const projectDesc: HTMLTextAreaElement = document.getElementById(
        "project-description"
      )! as HTMLTextAreaElement;

      if (!domainName.checkValidity()) {
        domainName.reportValidity();
        return;
      }

      if (!projectDesc.checkValidity()) {
        projectDesc.reportValidity();
        return;
      }

      switchPage(3, 2);
      currentPage = 3;

      nextButton.classList.add("hidden");
      submitButton.classList.remove("hidden");
    }
  });

  prevButton.addEventListener("click", () => {
    if (currentPage === 2) {
      switchPage(1, 2);
      currentPage = 1;

      prevButton.classList.add("bg-slate-500");
      prevButton.classList.remove("bg-[#e7da48]");
      prevButton.disabled = true;
    } else if (currentPage === 3) {
      switchPage(2, 3);
      currentPage = 2;

      nextButton.classList.remove("hidden");
      submitButton.classList.add("hidden");
    }
  });

  submitButton.addEventListener("click", () => {
    if (!form.checkValidity()) {
      form.reportValidity();
      return;
    }

    submitButton.disabled = true;
    submitButton.classList.add("cursor-not-allowed", "opacity-50");
    prevButton.disabled = true;
    prevButton.classList.add("cursor-not-allowed", "opacity-50");

    const step3: HTMLElement = document.getElementById("step-3")!;
    step3.classList.add("hidden");

    const loadingDiv: HTMLElement = document.getElementById("loading")!;
    loadingDiv.classList.remove("hidden");
    loadingDiv.classList.add("flex");

    const formData = new FormData(form);

    interface FormResponse {
      success?: boolean;
      message?: string;
    }

    axios.post("/commissions/quoteRequest", formData).then((res) => {
      const data: FormResponse = res.data;

      if (res.status === 200 && data.success) {
        quoteFormContainer.innerHTML = `
          <div class="text-center">
            <h2 class="text-3xl font-bold text-white">Thank you!</h2>
            <p class="mt-3 text-xl text-white max-w-xl">Your quote request has been sent. I will get back to you within 24 hours. Feel free to contact me if you don't hear anything from me!</p>
            <p class="mt-3 text-white">Please review my <a href="#terms" class="text-[#e7da48] underline hover:text-white transition-colors">Terms of Service</a> while waiting for me to get back to you.</p>
          </div>
        `;

        quoteFormContainer.scrollIntoView();
      } else {
        const errorDiv: HTMLElement = document.getElementById("error")!;

        loadingDiv.classList.add("hidden");
        errorDiv.classList.remove("hidden");

        quoteFormContainer.scrollIntoView();

        setTimeout(() => {
          step3.classList.remove("hidden");
          errorDiv.classList.add("hidden");

          submitButton.disabled = false;
          submitButton.classList.remove("cursor-not-allowed", "opacity-50");
          prevButton.disabled = false;
          prevButton.classList.remove("cursor-not-allowed", "opacity-50");

          quoteFormContainer.scrollIntoView();
        }, 3000);
      }
    });
  });

  function calcSubtotal() {
    const subtotalElement: HTMLElement = document.getElementById("subtotal")!;

    const items: HTMLElement = document.getElementById(
      "items"
    )! as HTMLUListElement;

    items.innerHTML = "";

    let subtotal: number = 0;

    if (tier === "Basic") {
      subtotal += 25;

      const item: HTMLElement = document.createElement("li");
      item.innerHTML = "<code>Basic Package - $25.00";
      items.appendChild(item);

      if (basicExtra1.checked) {
        subtotal += 3;

        const item: HTMLElement = document.createElement("li");
        item.innerHTML = "<code>Animated Elements - $3.00</code>";
        items.appendChild(item);
      }

      if (basicExtra2.checked) {
        subtotal += 5;

        const item: HTMLElement = document.createElement("li");
        item.innerHTML = "<code>Advanced Theme - $5.00</code>";
        items.appendChild(item);
      }
    } else if (tier === "Standard") {
      subtotal += 50;

      const item: HTMLElement = document.createElement("li");
      item.innerHTML = "<code>Standard Package - $50.00";
      items.appendChild(item);

      if (standardExtra1.checked) {
        subtotal += 3;

        const item: HTMLElement = document.createElement("li");
        item.innerHTML = "<code>Animated Elements - $3.00</code>";
        items.appendChild(item);
      }

      if (standardExtra2.checked) {
        subtotal += 5;

        const item: HTMLElement = document.createElement("li");
        item.innerHTML = "<code>Advanced Theme - $5.00</code>";
        items.appendChild(item);
      }

      if (standardExtra3.value !== "") {
        let amount: number = parseInt(standardExtra3.value);

        if (amount > 0) {
          let totalAdditional = amount * 5;

          subtotal += totalAdditional;

          const item: HTMLElement = document.createElement("li");
          item.innerHTML = `<code>Custom Pages - $${totalAdditional}.00</code>`;
          items.appendChild(item);
        }
      }
    } else if (tier === "Premium") {
      subtotal += 80;

      const item: HTMLElement = document.createElement("li");
      item.innerHTML = "<code>Premium Package - $80.00";
      items.appendChild(item);

      if (premiumExtra1.checked) {
        subtotal += 3;

        const item: HTMLElement = document.createElement("li");
        item.innerHTML = "<code>Animated Elements - $3.00</code>";
        items.appendChild(item);
      }

      if (premiumExtra2.checked) {
        subtotal += 5;

        const item: HTMLElement = document.createElement("li");
        item.innerHTML = "<code>Advanced Theme - $5.00</code>";
        items.appendChild(item);
      }

      if (premiumExtra3.value !== "") {
        let amount: number = parseInt(premiumExtra3.value);

        if (amount > 0) {
          let totalAdditional = amount * 5;

          subtotal += totalAdditional;

          const item: HTMLElement = document.createElement("li");
          item.innerHTML = `<code>Custom Pages - $${totalAdditional}.00</code>`;
          items.appendChild(item);
        }
      }
    }

    subtotalElement.innerHTML = `$${subtotal}.00`;
  }

  function switchPage(toPage: number, fromPage: number) {
    const toStep: HTMLElement = document.getElementById(`step-${toPage}`)!;
    const toStepText: HTMLElement = document.getElementById(
      `step-${toPage}-text`
    )!;
    const toStepCircle: HTMLElement = document.getElementById(
      `step-${toPage}-circle`
    )!;
    const toStepNumber: HTMLElement = document.getElementById(
      `step-${toPage}-number`
    )!;

    const fromStep: HTMLElement = document.getElementById(`step-${fromPage}`)!;
    const fromStepText: HTMLElement = document.getElementById(
      `step-${fromPage}-text`
    )!;
    const fromStepCircle: HTMLElement = document.getElementById(
      `step-${fromPage}-circle`
    )!;
    const fromStepNumber: HTMLElement = document.getElementById(
      `step-${fromPage}-number`
    )!;

    fromStep.classList.add("opacity-0");

    setTimeout(() => {
      fromStep.classList.add("hidden");
      fromStep.classList.remove("flex");
      toStep.classList.remove("hidden");
      toStep.classList.add("flex");
    }, 100);

    setTimeout(() => {
      toStep.classList.remove("opacity-0");

      quoteFormContainer.scrollIntoView();
    }, 200);

    fromStepText.classList.add("hidden");
    toStepText.classList.remove("hidden");

    fromStepCircle.classList.remove("bg-[#e7da48]");
    toStepCircle.classList.add("bg-[#e7da48]");

    fromStepNumber.classList.remove("text-black");
    toStepNumber.classList.add("text-black");
  }
</script>

<div
  id="quote-form-container"
  class="w-3/5 bg-gradient-to-tl from-[#543ea8] border border-slate-700 p-6 rounded-lg flex flex-col items-center space-y-4 overflow-hidden"
>
  <div class="text-center flex flex-row items-center">
    <div
      id="step-1-circle"
      class="w-12 h-12 border border-slate-500 rounded-full flex items-center bg-[#e7da48] transition-colors"
    >
      <p id="step-1-number" class="font-semibold w-full text-black">1</p>
    </div>
    <div class="h-[1px] w-12 border border-slate-500"></div>
    <div
      id="step-2-circle"
      class="w-12 h-12 border border-slate-500 rounded-full flex items-center transition-colors"
    >
      <p id="step-2-number" class="font-semibold w-full">2</p>
    </div>
    <div class="h-[1px] w-12 border border-slate-500"></div>
    <div
      id="step-3-circle"
      class="w-12 h-12 border border-slate-500 rounded-full flex items-center transition-colors"
    >
      <p id="step-3-number" class="font-semibold w-full">3</p>
    </div>
  </div>
  <div>
    <p id="step-1-text" class="font-semibold">Package Selection</p>
    <p id="step-2-text" class="font-semibold hidden">Project Information</p>
    <p id="step-3-text" class="font-semibold hidden">Contact Information</p>
  </div>
  <div class="w-full">
    <form id="quote-form" class="space-y-6 flex flex-col items-center">
      <div
        id="step-1"
        class="w-full flex flex-col items-center transition-opacity"
      >
        <div class="flex flex-row justify-between w-4/5">
          <div class="space-y-4">
            <div class="flex flex-col space-y-2">
              <label for="package" class="font-semibold"
                >Choose a base package</label
              >
              <select
                id="package"
                name="package"
                class="border border-slate-500 rounded-lg p-2 w-48 bg-[#543ea8] focus:ring focus:ring-[#e7da48]"
              >
                <option value="Basic" selected>Basic</option>
                <option value="Standard">Standard</option>
                <option value="Premium">Premium</option>
              </select>
            </div>
            <div class="flex flex-col space-y-2">
              <p class="font-semibold">Features</p>
              <div class="flex flex-col">
                <ul id="basic-features">
                  <FeatureList tier="Basic" />
                </ul>
                <ul id="standard-features" class="hidden">
                  <FeatureList tier="Standard" />
                </ul>
                <ul id="premium-features" class="hidden">
                  <FeatureList tier="Premium" />
                </ul>
              </div>
            </div>
          </div>

          <div class="w-1/2">
            <p class="font-semibold">Extras &amp; Additions</p>
            <div id="basic-extras" class="mt-1 flex flex-col space-y-2">
              <div class="flex flex-row items-center space-x-2">
                <input
                  id="basic-extra-1"
                  name="basic-extra-1"
                  type="checkbox"
                  class="border border-slate-500 rounded-lg p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48] checked:bg-[#543ea8] checked:hover:bg-[#543ea8] checked:focus:bg-[#543ea8]"
                />
                <label for="extra-1" class="font-semibold"
                  >Animated Elements (Fade/Transform In) - $3.00</label
                >
              </div>
              <div class="flex flex-row items-center space-x-2">
                <input
                  id="basic-extra-2"
                  name="basic-extra-2"
                  type="checkbox"
                  class="border border-slate-500 rounded-lg p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48] checked:bg-[#543ea8] checked:hover:bg-[#543ea8] checked:focus:bg-[#543ea8]"
                />
                <label for="extra-2" class="font-semibold"
                  >Advanced Theme - $5.00</label
                >
              </div>
            </div>

            <div id="standard-extras" class="mt-1 flex-col space-y-2 hidden">
              <div class="flex flex-row items-center space-x-2">
                <input
                  id="standard-extra-1"
                  name="standard-extra-1"
                  type="checkbox"
                  class="border border-slate-500 rounded-lg p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48] checked:bg-[#543ea8] checked:hover:bg-[#543ea8] checked:focus:bg-[#543ea8]"
                />
                <label for="extra-1" class="font-semibold"
                  >Animated Elements (Fade/Transform In) - $3.00</label
                >
              </div>
              <div class="flex flex-row items-center space-x-2">
                <input
                  id="standard-extra-2"
                  name="standard-extra-2"
                  type="checkbox"
                  class="border border-slate-500 rounded-lg p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48] checked:bg-[#543ea8] checked:hover:bg-[#543ea8] checked:focus:bg-[#543ea8]"
                />
                <label for="extra-2" class="font-semibold"
                  >Advanced Theme - $5.00</label
                >
              </div>
              <div class="flex flex-row items-center space-x-2">
                <input
                  id="standard-extra-3"
                  name="standard-extra-3"
                  type="number"
                  class="border border-slate-500 rounded-lg w-24 p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48]"
                />
                <label for="extra-3" class="font-semibold"
                  >Additional Pages - $5.00/ea</label
                >
              </div>
            </div>

            <div id="premium-extras" class="mt-1 flex-col space-y-2 hidden">
              <div class="flex flex-row items-center space-x-2">
                <input
                  id="premium-extra-1"
                  name="premium-extra-1"
                  type="checkbox"
                  class="border border-slate-500 rounded-lg p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48] checked:bg-[#543ea8] checked:hover:bg-[#543ea8] checked:focus:bg-[#543ea8]"
                />
                <label for="extra-1" class="font-semibold"
                  >Animated Elements (Fade/Transform In) - $3.00</label
                >
              </div>
              <div class="flex flex-row items-center space-x-2">
                <input
                  id="premium-extra-2"
                  name="premium-extra-2"
                  type="checkbox"
                  class="border border-slate-500 rounded-lg p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48] checked:bg-[#543ea8] checked:hover:bg-[#543ea8] checked:focus:bg-[#543ea8]"
                />
                <label for="extra-2" class="font-semibold"
                  >Advanced Theme - $5.00</label
                >
              </div>
              <div class="flex flex-row items-center space-x-2">
                <input
                  id="premium-extra-3"
                  name="premium-extra-3"
                  type="number"
                  class="border border-slate-500 rounded-lg w-24 p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48]"
                />
                <label for="extra-3" class="font-semibold"
                  >Additional Pages - $5.00/ea</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        id="step-2"
        class="w-full flex-col items-center transition-opacity opacity-0 hidden"
      >
        <div class="flex flex-row justify-between w-4/5 space-x-4">
          <div class="space-y-4 w-1/2">
            <div class="flex flex-col space-y-2">
              <label for="domain-name" class="font-semibold">Domain Name</label>
              <input
                id="domain-name"
                name="domain-name"
                type="text"
                required
                minlength="3"
                class="border border-slate-500 rounded-lg w-64 p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48]"
              />
            </div>
            <div class="flex flex-col space-y-2">
              <label for="project-description" class="font-semibold"
                >Project Description</label
              >
              <span
                >Please provide as much detail as possible including references,
                colors, shape ideas, or other theme ideas.</span
              >
              <textarea
                id="project-description"
                name="project-description"
                required
                minlength="12"
                class="border border-slate-500 rounded-lg p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48]"
              ></textarea>
            </div>
          </div>
          <div class="w-1/2">
            <div class="flex flex-col space-y-2">
              <label for="project-type" class="font-semibold"
                >Are you a business or individual?</label
              >
              <div class="flex flex-row items-center space-x-2">
                <input
                  id="business"
                  name="project-type"
                  value="Business"
                  type="radio"
                  class="border border-slate-500 rounded-lg p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48] checked:bg-[#543ea8] checked:hover:bg-[#543ea8] checked:focus:bg-[#543ea8]"
                />
                <label for="business" class="font-semibold">Business</label>
              </div>
              <div class="flex flex-row items-center space-x-2">
                <input
                  id="individual"
                  name="project-type"
                  value="Individual"
                  type="radio"
                  checked
                  class="border border-slate-500 rounded-lg p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48] checked:bg-[#543ea8] checked:hover:bg-[#543ea8] checked:focus:bg-[#543ea8]"
                />
                <label for="individual" class="font-semibold">Individual</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        id="step-3"
        class="w-full flex-col items-center transition-opacity opacity-0 hidden"
      >
        <div class="flex flex-row justify-between w-4/5 space-x-4">
          <div class="space-y-4 w-1/2">
            <div class="flex flex-col space-y-2">
              <label for="first-name" class="font-semibold"
                >Preferred Name</label
              >
              <input
                id="name"
                name="name"
                type="text"
                required
                minlength="1"
                class="border border-slate-500 rounded-lg w-64 p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48]"
              />
            </div>
            <div class="flex flex-col space-y-2">
              <label for="pronouns" class="font-semibold">Pronouns</label>
              <input
                id="pronouns"
                name="pronouns"
                type="text"
                required
                minlength="1"
                class="border border-slate-500 rounded-lg w-32 p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48]"
              />
            </div>
            <div class="flex flex-col space-y-2">
              <label for="email" class="font-semibold">Email</label>
              <p>Used for fallback contact if DM does not work.</p>
              <input
                id="email"
                name="email"
                type="email"
                required
                minlength="4"
                class="border border-slate-500 rounded-lg w-64 p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48]"
              />
            </div>
          </div>
          <div class="space-y-4 w-1/2">
            <div class="flex flex-col space-y-2">
              <label for="preferred-contact" class="font-semibold"
                >Preferred Contact Method</label
              >
              <select
                id="preferred-contact"
                name="preferred-contact"
                class="border border-slate-500 rounded-lg w-64 p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48]"
              >
                <option value="Telegram" selected>Telegram</option>
                <option value="Twitter">Twitter</option>
                <option value="Discord">Discord</option>
                <option value="Email">Email</option>
              </select>
            </div>
            <div class="flex flex-col space-y-2">
              <label for="preferred-contact-username" class="font-semibold"
                >Preferred Contact Username</label
              >
              <input
                id="preferred-contact-username"
                name="preferred-contact-username"
                type="text"
                required
                minlength="3"
                class="border border-slate-500 rounded-lg w-52 p-2 bg-[#543ea8] focus:ring focus:ring-[#e7da48]"
              />
            </div>
          </div>
        </div>
      </div>

      <div id="loading" class="hidden flex-row items-center justify-center">
        <svg
          class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

        <span class="text-white">Processing...</span>
      </div>

      <div id="error" class="hidden">
        <div class="text-center">
          <h2 class="text-3xl font-bold text-white">Oops!</h2>
          <p class="mt-3 text-xl text-white">
            Something went wrong. Please try again.
          </p>
        </div>
      </div>

      <div class="w-4/5 h-[1px] bg-slate-500"></div>

      <div class="w-3/4 text-right">
        <ul id="items">
          <li><code>Basic Package - $25.00</code></li>
        </ul>
        <p class="text-[#e7da48] mt-3 font-bold">Subtotal</p>
        <div>
          <span class="text-3xl font-bold" id="subtotal">$25.00</span>
          <span class="font-bold">USD</span>
        </div>
        <p class="font-light text-slate-300">
          Does NOT include yearly domain costs.
        </p>
      </div>

      <div class="w-full flex flex-col items-center">
        <div class="space-x-3">
          <button
            id="prev-button"
            type="button"
            disabled
            class="w-28 font-semibold transition-colors bg-slate-500 text-[#543ea8] p-2 rounded-lg focus:ring focus:ring-[#785ee2]"
          >
            Previous
          </button>
          <button
            id="next-button"
            type="button"
            class="w-28 font-semibold bg-[#e7da48] text-[#543ea8] p-2 rounded-lg focus:ring focus:ring-[#785ee2]"
          >
            Next
          </button>
          <button
            id="submit-button"
            type="button"
            class="w-28 font-semibold bg-[#e7da48] text-[#543ea8] p-2 rounded-lg focus:ring focus:ring-[#785ee2] hidden"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
